h1{
  
    text-align: center;
    color: red;
    opacity: 0.7;
}
p{
    font-size: 20px;
    font-weight: bold;
}
input{

    color: red;
}
label{

    font-size: 22px;
}
.body{
    background-color: rgba(57, 196, 154, 0.781);
    background:linear-gradient(90deg, rgba(38, 202, 202, 0.7) 0%, rgba(122, 206, 43, 0.7) 100%);
}
table{
    height: 80%;
    width: 80%;
   
    margin: auto;
   
}
th{
    color: blue;
}

footer{
    background-color: cyan;
}

#logout{
    float: right;
}

    th {
        color: #fff;
        background-color: #343a40;
        border-color: #454d55;
    }
 
  